html {
    font-size: 62.5%;
}

body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../css/aula_imagens/imagens/bg-curriculo.svg);
}

.cabecalho {
    width: 50vw;
    max-width: 50vw;
    margin: 0 auto;
    padding: 1px 0 5px 0;
    height: 5vh;
}

.cabecalho h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
}

header hr {
    margin: 20px auto;
    height: 0.2vh;
    background-color: black;
    border: none;
}

main {
    width: 50vw;
    max-width: 50vw;
    margin: 0 auto;
}

article {
    padding: 2px;
    margin-bottom: 2.5px;
    margin-top: 10px;
}

article h2 {
    text-align: left;
    font-size: 2.0em;
    padding: 15px 0 0 5px;
    text-transform: uppercase;
    font-weight: bold;
}

article p {
    font-size: 1.3em;
}

#foto {
    width: 8vw;
    float: left;
    padding-right: 10px;
}

.informacoes {
    padding: 2.5px 0px;
}

.email {
    text-decoration: none;
}


