html {
    background-color: #f4f4f4;
    font-family: sans-serif;
    color: #fff
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    width: 90%;
    border-radius: 30px;
    min-width: 20vw;
    max-width: 40vw;
    background-color: #ffffff;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label, input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

input, textarea {
    margin: 0;
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: .75em;
    margin: 0;
    color: rgb(0, 0, 0);
    outline: 0;
}

legend {
    padding: 1.5em 0 0 1.5em;
    font-weight: bold;
    color: #000000;
    font-size: 1.3em;
    padding-bottom: 1em;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.row input {
    height: 4em;
    width: 45%;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
}

.btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: #2242e4;
    color: #fff;
    cursor: pointer;
    padding: 1em;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
}

input:invalid:focus, textarea:invalid:focus {
    border-bottom: 2px solid #ff000d;
}

input:valid:focus, textarea:valid:focus {
    border-bottom: 2px solid #0ec72a;
}
